//---GLOBAL---
$balck-color: #000;
$white-color: #FFF;
$green-color: #2ecc71;
//---HEADER---
$app-text-color: #f4f4f4;

//---SECTION---
$section-title-color: #222;
$section-title-font: 'Raleway', sans-serif;

